.grid-board__component {
  display: inline-block;
  background: #000;
  border-radius: 5px;
  //padding: 0.5rem;
  overflow: hidden;
  box-shadow:
    0 0 0 2px #000,
    0 0 30px #fff,
    -10px 0 50px #ff0084,
    10px 0 50px #009dff;
}
